[Desktop Entry]
Version=1.0
Type=Application
Name=OrpheusDL GUI
Comment=A cross-platform graphical user interface for OrpheusDL. Search & download across multiple music streaming services with ease.
Exec=OrpheusDL_GUI %U
Icon=com.github.orpheusdl.orpheusdl-gui
Terminal=false
Categories=AudioVideo;Audio;Music;
Keywords=music;download;spotify;tidal;deezer;qobuz;
StartupWMClass=OrpheusDL_GUI
MimeType=x-scheme-handler/orpheusdl;
